/*
* Copyright (c) 2026 Linumiz
* Copyright (c) 2026 Infineon Technologies AG
* SPDX-License-Identifier: Apache-2.0
*/

#include <mem.h>
#include <zephyr/dt-bindings/pinctrl/ifx_cat1-pinctrl.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		m0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m0+";
			reg = <0>;
			clock-frequency = <100000000>;
		};

		m4: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-m4f";
			reg = <1>;
			clock-frequency = <160000000>;
			status = "disabled";
		};
	};

	soc {
		cpuss_intc: interrupt-controller@40200000 {
			compatible = "infineon,cat1-intc";
			reg = <0x40200000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;

			intmux_ch0: interrupt-controller@0 {
				compatible = "infineon,cat1-intc-mux";
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <0 1>;
			};

			intmux_ch1: interrupt-controller@1 {
				compatible = "infineon,cat1-intc-mux";
				reg = <1>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <1 1>;
			};

			intmux_ch2: interrupt-controller@2 {
				compatible = "infineon,cat1-intc-mux";
				reg = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <2 1>;
			};

			intmux_ch3: interrupt-controller@3 {
				compatible = "infineon,cat1-intc-mux";
				reg = <3>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <3 1>;
			};

			intmux_ch4: interrupt-controller@4 {
				compatible = "infineon,cat1-intc-mux";
				reg = <4>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <4 1>;
			};

			intmux_ch5: interrupt-controller@5 {
				compatible = "infineon,cat1-intc-mux";
				reg = <5>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <5 1>;
			};

			intmux_ch6: interrupt-controller@6 {
				compatible = "infineon,cat1-intc-mux";
				reg = <6>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <6 1>;
			};

			intmux_ch7: interrupt-controller@7 {
				compatible = "infineon,cat1-intc-mux";
				reg = <7>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <7 1>;
			};
		};

		mbox: mbox@40220000 {
			compatible = "infineon,cat1-mbox-pdl";
			reg = <0x40220000 0x10000>;
			interrupt-parent = <&intmux_ch4>;
			interrupts = <0 0>,
			             <1 0>,
			             <2 0>,
			             <3 0>,
			             <4 0>,
			             <5 0>,
			             <6 0>,
			             <7 0>;
			#mbox-cells = <1>;
			status = "disabled";
		};

		flash_controller: flash-controller@40240000 {
			compatible = "infineon,cat1-flash-controller-pdl";
			reg = <0x40240000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			code_flash0: flash@10000000 {
				compatible = "soc-nv-flash";
				reg = <0x10000000 DT_SIZE_K(1088)>;
				ranges = <0x0 0x10000000 DT_SIZE_K(1088)>;
				write-block-size = <512>;
				erase-block-size = <32768>;
				#address-cells = <1>;
				#size-cells = <1>;
			};

			/* Work flash - Large sector (2KB Sectors) */
			work_flash0: flash@14000000 {
				compatible = "soc-nv-flash";
				reg = <0x14000000 DT_SIZE_K(72)>;
				ranges = <0x0 0x14000000 DT_SIZE_K(72)>;
				write-block-size = <64>;
				erase-block-size = <2048>;
				#address-cells = <1>;
				#size-cells = <1>;
			};

			/* Work flash - Small sector (128B Sectors) */
			work_flash1: flash@14012000 {
				compatible = "soc-nv-flash";
				reg = <0x14012000 DT_SIZE_K(24)>;
				ranges = <0x0 0x14012000 DT_SIZE_K(24)>;
				write-block-size = <64>;
				erase-block-size = <128>;
				#address-cells = <1>;
				#size-cells = <1>;
			};
		};

		wdt0: watchdog@4026c000 {
			compatible = "infineon,watchdog";
			reg = <0x4026c000 0x80>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <15 0>;
		        status = "disabled";
		};

		dma0: dw@40280000 {
			#dma-cells = <1>;
			compatible = "infineon,dma";
			reg = <0x40280000 0x10000>;
			dma-channels = <89>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <152 0>, /* CH0 */
				     <153 0>, /* CH1 */
				     <154 0>, /* CH2 */
				     <155 0>, /* CH3 */
				     <156 0>, /* CH4 */
				     <157 0>, /* CH5 */
				     <158 0>, /* CH6 */
				     <159 0>, /* CH7 */
				     <160 0>, /* CH8 */
				     <161 0>, /* CH9 */
				     <162 0>, /* CH10 */
				     <163 0>, /* CH11 */
				     <164 0>, /* CH12 */
				     <165 0>, /* CH13 */
				     <166 0>, /* CH14 */
				     <167 0>, /* CH15 */
				     <168 0>, /* CH16 */
				     <169 0>, /* CH17 */
				     <170 0>, /* CH18 */
				     <171 0>, /* CH19 */
				     <172 0>, /* CH20 */
				     <173 0>, /* CH21 */
				     <174 0>, /* CH22 */
				     <175 0>, /* CH23 */
				     <176 0>, /* CH24 */
				     <177 0>, /* CH25 */
				     <178 0>, /* CH26 */
				     <179 0>, /* CH27 */
				     <180 0>, /* CH28 */
				     <181 0>, /* CH29 */
				     <182 0>, /* CH30 */
				     <183 0>, /* CH31 */
				     <184 0>, /* CH32 */
				     <185 0>, /* CH33 */
				     <186 0>, /* CH34 */
				     <187 0>, /* CH35 */
				     <188 0>, /* CH36 */
				     <189 0>, /* CH37 */
				     <190 0>, /* CH38 */
				     <191 0>, /* CH39 */
				     <192 0>, /* CH40 */
				     <193 0>, /* CH41 */
				     <194 0>, /* CH42 */
				     <195 0>, /* CH43 */
				     <196 0>, /* CH44 */
				     <197 0>, /* CH45 */
				     <198 0>, /* CH46 */
				     <199 0>, /* CH47 */
				     <200 0>, /* CH48 */
				     <201 0>, /* CH49 */
				     <202 0>, /* CH50 */
				     <203 0>, /* CH51 */
				     <204 0>, /* CH52 */
				     <205 0>, /* CH53 */
				     <206 0>, /* CH54 */
				     <207 0>, /* CH55 */
				     <208 0>, /* CH56 */
				     <209 0>, /* CH57 */
				     <210 0>, /* CH58 */
				     <211 0>, /* CH59 */
				     <212 0>, /* CH60 */
				     <213 0>, /* CH61 */
				     <214 0>, /* CH62 */
				     <215 0>, /* CH63 */
				     <216 0>, /* CH64 */
				     <217 0>, /* CH65 */
				     <218 0>, /* CH66 */
				     <219 0>, /* CH67 */
				     <220 0>, /* CH68 */
				     <221 0>, /* CH69 */
				     <222 0>, /* CH70 */
				     <223 0>, /* CH71 */
				     <224 0>, /* CH72 */
				     <225 0>, /* CH73 */
				     <226 0>, /* CH74 */
				     <227 0>, /* CH75 */
				     <228 0>, /* CH76 */
				     <229 0>, /* CH77 */
				     <230 0>, /* CH78 */
				     <231 0>, /* CH79 */
				     <232 0>, /* CH80 */
				     <233 0>, /* CH81 */
				     <234 0>, /* CH82 */
				     <235 0>, /* CH83 */
				     <236 0>, /* CH84 */
				     <237 0>, /* CH85 */
				     <238 0>, /* CH86 */
				     <239 0>, /* CH87 */
				     <240 0>; /* CH88 */
			status = "disabled";
		};

		dma1: dw@40290000 {
			#dma-cells = <1>;
			compatible = "infineon,dma";
			reg = <0x40290000 0x10000>;
			dma-channels = <33>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <241 0>, /* CH0 */
				     <242 0>, /* CH1 */
				     <243 0>, /* CH2 */
				     <244 0>, /* CH3 */
				     <245 0>, /* CH4 */
				     <246 0>, /* CH5 */
				     <247 0>, /* CH6 */
				     <248 0>, /* CH7 */
				     <249 0>, /* CH8 */
				     <250 0>, /* CH9 */
				     <251 0>, /* CH10 */
				     <252 0>, /* CH11 */
				     <253 0>, /* CH12 */
				     <254 0>, /* CH13 */
				     <255 0>, /* CH14 */
				     <256 0>, /* CH15 */
				     <257 0>, /* CH16 */
				     <258 0>, /* CH17 */
				     <259 0>, /* CH18 */
				     <260 0>, /* CH19 */
				     <261 0>, /* CH20 */
				     <262 0>, /* CH21 */
				     <263 0>, /* CH22 */
				     <264 0>, /* CH23 */
				     <265 0>, /* CH24 */
				     <266 0>, /* CH25 */
				     <267 0>, /* CH26 */
				     <268 0>, /* CH27 */
				     <269 0>, /* CH28 */
				     <270 0>, /* CH29 */
				     <271 0>, /* CH30 */
				     <272 0>, /* CH31 */
				     <273 0>; /* CH32 */
			status = "disabled";
		};

		pinctrl: pinctrl@40300000 {
			compatible = "infineon,pinctrl";
			reg = <0x40300000 0x20000>;
		};

		gpio_prt0: gpio@40310000 {
			compatible = "infineon,gpio";
			reg = <0x40310000 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <21 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt1: gpio@40310080 {
			compatible = "infineon,gpio";
			reg = <0x40310080 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <22 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt2: gpio@40310100 {
			compatible = "infineon,gpio";
			reg = <0x40310100 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <23 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt3: gpio@40310180 {
			compatible = "infineon,gpio";
			reg = <0x40310180 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <24 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt4: gpio@40310200 {
			compatible = "infineon,gpio";
			reg = <0x40310200 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <25 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt5: gpio@40310280 {
			compatible = "infineon,gpio";
			reg = <0x40310280 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <26 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt6: gpio@40310300 {
			compatible = "infineon,gpio";
			reg = <0x40310300 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <27 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt7: gpio@40310380 {
			compatible = "infineon,gpio";
			reg = <0x40310380 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <28 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt8: gpio@40310400 {
			compatible = "infineon,gpio";
			reg = <0x40310400 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <29 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt9: gpio@40310480 {
			compatible = "infineon,gpio";
			reg = <0x40310480 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <30 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt10: gpio@40310500 {
			compatible = "infineon,gpio";
			reg = <0x40310500 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <31 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt11: gpio@40310580 {
			compatible = "infineon,gpio";
			reg = <0x40310580 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <32 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt12: gpio@40310600 {
			compatible = "infineon,gpio";
			reg = <0x40310600 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <33 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt13: gpio@40310680 {
			compatible = "infineon,gpio";
			reg = <0x40310680 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <34 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt14: gpio@40310700 {
			compatible = "infineon,gpio";
			reg = <0x40310700 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <35 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt15: gpio@40310780 {
			compatible = "infineon,gpio";
			reg = <0x40310780 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <36 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt16: gpio@40310800 {
			compatible = "infineon,gpio";
			reg = <0x40310800 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <37 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt17: gpio@40310880 {
			compatible = "infineon,gpio";
			reg = <0x40310880 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <38 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt18: gpio@40310900 {
			compatible = "infineon,gpio";
			reg = <0x40310900 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <39 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt19: gpio@40310980 {
			compatible = "infineon,gpio";
			reg = <0x40310980 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <40 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt20: gpio@40310a00 {
			compatible = "infineon,gpio";
			reg = <0x40310a00 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <41 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt21: gpio@40310a80 {
			compatible = "infineon,gpio";
			reg = <0x40310a80 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <42 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt22: gpio@40310b00 {
			compatible = "infineon,gpio";
			reg = <0x40310b00 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <43 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt23: gpio@40310b80 {
			compatible = "infineon,gpio";
			reg = <0x40310b80 0x80>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <44 0>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		scb0: scb@40600000 {
			compatible = "infineon,scb";
			reg = <0x40600000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <17 0>;
			clk-dst = <0x001e>;
			status = "disabled";
		};

		scb1: scb@40610000 {
			compatible = "infineon,scb";
			reg = <0x40610000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <77 0>;
			clk-dst = <0x001f>;
			status = "disabled";
		};

		scb2: scb@40620000 {
			compatible = "infineon,scb";
			reg = <0x40620000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <78 0>;
			clk-dst = <0x0020>;
			status = "disabled";
		};

		scb3: scb@40630000 {
			compatible = "infineon,scb";
			reg = <0x40630000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <79 0>;
			clk-dst = <0x0021>;
			status = "disabled";
		};

		scb4: scb@40640000 {
			compatible = "infineon,scb";
			reg = <0x40640000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <80 0>;
			clk-dst = <0x0022>;
			status = "disabled";
		};

		scb5: scb@40650000 {
			compatible = "infineon,scb";
			reg = <0x40650000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <81 0>;
			clk-dst = <0x0023>;
			status = "disabled";
		};

		scb6: scb@40660000 {
			compatible = "infineon,scb";
			reg = <0x40660000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <82 0>;
			clk-dst = <0x0024>;
			status = "disabled";
		};

		scb7: scb@40670000 {
			compatible = "infineon,scb";
			reg = <0x40670000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <83 0>;
			clk-dst = <0x0025>;
			status = "disabled";
		};

		adc0: adc@40900000 {
			compatible = "infineon,sar-v2";
			reg = <0x40900000 0x1000>;
			#io-channel-cells = <1>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <84 0>,
				     <85 0>,
				     <86 0>,
				     <87 0>,
				     <88 0>,
				     <89 0>,
				     <90 0>,
				     <91 0>,
				     <92 0>,
				     <93 0>,
				     <94 0>,
				     <95 0>,
				     <96 0>,
				     <97 0>,
				     <98 0>,
				     <99 0>,
				     <100 0>,
				     <101 0>,
				     <102 0>,
				     <103 0>,
				     <104 0>,
				     <105 0>,
				     <106 0>,
				     <107 0>;
			total-channels = <24>;
			status = "disabled";
		};

		adc1: adc@40901000 {
			compatible = "infineon,sar-v2";
			reg = <0x40901000 0x1000>;
			#io-channel-cells = <1>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <108 0>,
			             <109 0>,
			             <110 0>,
			             <111 0>,
			             <112 0>,
			             <113 0>,
			             <114 0>,
			             <115 0>,
			             <116 0>,
			             <117 0>,
			             <118 0>,
			             <119 0>,
			             <120 0>,
			             <121 0>,
			             <122 0>,
			             <123 0>,
			             <124 0>,
			             <125 0>,
			             <126 0>,
			             <127 0>,
			             <128 0>,
			             <129 0>,
			             <130 0>,
			             <131 0>,
			             <132 0>,
			             <133 0>,
			             <134 0>,
			             <135 0>,
			             <136 0>,
			             <137 0>,
			             <138 0>,
			             <139 0>;
			total-channels = <32>;
			status = "disabled";
		};

		adc2: adc@40902000 {
			compatible = "infineon,sar-v2";
			reg = <0x40902000 0x1000>;
			#io-channel-cells = <1>;
			interrupt-parent = <&intmux_ch6>;
			interrupts = <140 0>,
			             <141 0>,
			             <142 0>,
			             <143 0>,
			             <144 0>,
			             <145 0>,
			             <146 0>,
			             <147 0>;
			total-channels = <8>;
			status = "disabled";
		};
	};
};
