/*
 * Copyright (c) 2026 Linumiz
 * Copyright (c) 2026 Infineon Technologies AG
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>
#include <zephyr/dt-bindings/pinctrl/ifx_cat1-pinctrl.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		m0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-m0+";
			reg = <0>;
			clock-frequency = <100000000>;
		};

		m7_0: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-m7";
			reg = <1>;
			clock-frequency = <320000000>;
			status = "disabled";
		};

		m7_1: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-m7";
			reg = <2>;
			clock-frequency = <320000000>;
			status = "disabled";
		};
	};

	soc {
		cpuss_intc: interrupt-controller@40200000 {
			compatible = "infineon,cat1-intc";
			reg = <0x40200000 0x10000>;
			#address-cells = <1>;
			#size-cells = <0>;

			intmux_ch0: interrupt-controller@0 {
				compatible = "infineon,cat1-intc-mux";
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <0 1>;
			};

			intmux_ch1: interrupt-controller@1 {
				compatible = "infineon,cat1-intc-mux";
				reg = <1>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <1 1>;
			};

			intmux_ch2: interrupt-controller@2 {
				compatible = "infineon,cat1-intc-mux";
				reg = <2>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <2 1>;
			};

			intmux_ch3: interrupt-controller@3 {
				compatible = "infineon,cat1-intc-mux";
				reg = <3>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <3 1>;
			};

			intmux_ch4: interrupt-controller@4 {
				compatible = "infineon,cat1-intc-mux";
				reg = <4>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <4 1>;
			};

			intmux_ch5: interrupt-controller@5 {
				compatible = "infineon,cat1-intc-mux";
				reg = <5>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <5 1>;
			};

			intmux_ch6: interrupt-controller@6 {
				compatible = "infineon,cat1-intc-mux";
				reg = <6>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <6 1>;
			};

			intmux_ch7: interrupt-controller@7 {
				compatible = "infineon,cat1-intc-mux";
				reg = <7>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <7 1>;
			};
		};

		pinctrl: pinctrl@40300000 {
			compatible = "infineon,pinctrl";
			reg = <0x40300000 0x20000>;
		};

		gpio_prt0: gpio@40310000 {
			compatible = "infineon,gpio";
			reg = <0x40310000 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <24 2>;
			gpio-controller;
			ngpios = <6>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt1: gpio@40310080 {
			compatible = "infineon,gpio";
			reg = <0x40310080 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <25 2>;
			gpio-controller;
			ngpios = <4>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt2: gpio@40310100 {
			compatible = "infineon,gpio";
			reg = <0x40310100 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <26 2>;
			gpio-controller;
			ngpios = <4>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt3: gpio@40310180 {
			compatible = "infineon,gpio";
			reg = <0x40310180 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <27 2>;
			gpio-controller;
			ngpios = <5>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt4: gpio@40310200 {
			compatible = "infineon,gpio";
			reg = <0x40310200 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <28 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt5: gpio@40310280 {
			compatible = "infineon,gpio";
			reg = <0x40310280 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <29 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt6: gpio@40310300 {
			compatible = "infineon,gpio";
			reg = <0x40310300 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <30 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt7: gpio@40310380 {
			compatible = "infineon,gpio";
			reg = <0x40310380 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <31 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt8: gpio@40310400 {
			compatible = "infineon,gpio";
			reg = <0x40310400 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <32 2>;
			gpio-controller;
			ngpios = <4>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt9: gpio@40310480 {
			compatible = "infineon,gpio";
			reg = <0x40310480 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <33 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt10: gpio@40310500 {
			compatible = "infineon,gpio";
			reg = <0x40310500 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <34 2>;
			gpio-controller;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt11: gpio@40310580 {
			compatible = "infineon,gpio";
			reg = <0x40310580 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <35 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt12: gpio@40310600 {
			compatible = "infineon,gpio";
			reg = <0x40310600 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <36 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt13: gpio@40310680 {
			compatible = "infineon,gpio";
			reg = <0x40310680 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <53 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt14: gpio@40310700 {
			compatible = "infineon,gpio";
			reg = <0x40310700 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <54 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt15: gpio@40310780 {
			compatible = "infineon,gpio";
			reg = <0x40310780 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <55 2>;
			gpio-controller;
			ngpios = <6>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt16: gpio@40310800 {
			compatible = "infineon,gpio";
			reg = <0x40310800 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <56 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt17: gpio@40310880 {
			compatible = "infineon,gpio";
			reg = <0x40310880 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <57 2>;
			gpio-controller;
			ngpios = <1>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt18: gpio@40310900 {
			compatible = "infineon,gpio";
			reg = <0x40310900 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <58 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt19: gpio@40310980 {
			compatible = "infineon,gpio";
			reg = <0x40310980 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <59 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt20: gpio@40310a00 {
			compatible = "infineon,gpio";
			reg = <0x40310a00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <60 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt21: gpio@40310a80 {
			compatible = "infineon,gpio";
			reg = <0x40310a80 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <61 2>;
			gpio-controller;
			ngpios = <4>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt22: gpio@40310b00 {
			compatible = "infineon,gpio";
			reg = <0x40310b00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <62 2>;
			gpio-controller;
			ngpios = <8>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt23: gpio@40310b80 {
			compatible = "infineon,gpio";
			reg = <0x40310b80 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <63 2>;
			gpio-controller;
			ngpios = <5>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt24: gpio@40310c00 {
			compatible = "infineon,gpio";
			reg = <0x40310c00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <64 2>;
			gpio-controller;
			ngpios = <2>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt25: gpio@40310c80 {
			compatible = "infineon,gpio";
			reg = <0x40310c80 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <65 2>;
			gpio-controller;
			ngpios = <6>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt26: gpio@40310d00 {
			compatible = "infineon,gpio";
			reg = <0x40310d00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <66 2>;
			gpio-controller;
			ngpios = <5>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt27: gpio@40310d80 {
			compatible = "infineon,gpio";
			reg = <0x40310d80 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <67 2>;
			gpio-controller;
			ngpios = <2>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt28: gpio@40310e00 {
			compatible = "infineon,gpio";
			reg = <0x40310e00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <68 2>;
			gpio-controller;
			ngpios = <6>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt29: gpio@40310e80 {
			compatible = "infineon,gpio";
			reg = <0x40310e80 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <37 2>;
			gpio-controller;
			ngpios = <2>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		gpio_prt30: gpio@40310f00 {
			compatible = "infineon,gpio";
			reg = <0x40310f00 0x80>;
			interrupt-parent = <&intmux_ch2>;
			interrupts = <69 2>;
			gpio-controller;
			ngpios = <2>;
			status = "disabled";
			#gpio-cells = <2>;
		};

		scb0: scb@40600000 {
			compatible = "infineon,scb";
			reg = <0x40600000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <20 3>;
			clk-dst = <0x0108>;
			status = "disabled";
                };

		scb1: scb@40610000 {
			compatible = "infineon,scb";
			reg = <0x40610000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <135 3>;
			clk-dst = <0x0109>;
			status = "disabled";
		};

		scb2: scb@40620000 {
			compatible = "infineon,scb";
			reg = <0x40620000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <136 3>;
			clk-dst = <0x010a>;
			status = "disabled";
		};

		scb3: scb@40630000 {
			compatible = "infineon,scb";
			reg = <0x40630000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <137 3>;
			clk-dst = <0x010b>;
			status = "disabled";
		};

		scb4: scb@40640000 {
			compatible = "infineon,scb";
			reg = <0x40640000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <138 3>;
			clk-dst = <0x010c>;
			status = "disabled";
		};

		scb5: scb@40650000 {
			compatible = "infineon,scb";
			reg = <0x40650000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <139 3>;
			clk-dst = <0x010d>;
			status = "disabled";
		};

		scb6: scb@40660000 {
			compatible = "infineon,scb";
			reg = <0x40660000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <140 3>;
			clk-dst = <0x010e>;
			status = "disabled";
		};

		scb7: scb@40670000 {
			compatible = "infineon,scb";
			reg = <0x40670000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <141 3>;
			clk-dst = <0x010f>;
			status = "disabled";
		};

		scb8: scb@40680000 {
			compatible = "infineon,scb";
			reg = <0x40680000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <142 3>;
			clk-dst = <0x0110>;
			status = "disabled";
		};

		scb9: scb@40690000 {
			compatible = "infineon,scb";
			reg = <0x40690000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <143 3>;
			clk-dst = <0x0111>;
			status = "disabled";
		};

		scb10: scb@406a0000 {
			compatible = "infineon,scb";
			reg = <0x406A0000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <144 3>;
			clk-dst = <0x0112>;
			status = "disabled";
		};

		scb11: scb@406b0000 {
			compatible = "infineon,scb";
			reg = <0x406B0000 0x10000>;
			interrupt-parent = <&intmux_ch3>;
			interrupts = <145 3>;
			clk-dst = <0x0113>;
			status = "disabled";
		};

		dma0: dw@40280000 {
			#dma-cells = <1>;
			compatible = "infineon,dma";
			reg = <0x40280000 0x10000>;
			dma-channels = <76>;
			interrupt-parent = <&intmux_ch4>;
			interrupts = <296 3>, /* CH0 */
				     <297 3>, /* CH1 */
				     <298 3>, /* CH2 */
				     <299 3>, /* CH3 */
				     <300 3>, /* CH4 */
				     <301 3>, /* CH5 */
				     <302 3>, /* CH6 */
				     <303 3>, /* CH7 */
				     <304 3>, /* CH8 */
				     <305 3>, /* CH9 */
				     <306 3>, /* CH10 */
				     <307 3>, /* CH11 */
				     <308 3>, /* CH12 */
				     <309 3>, /* CH13 */
				     <310 3>, /* CH14 */
				     <311 3>, /* CH15 */
				     <312 3>, /* CH16 */
				     <313 3>, /* CH17 */
				     <314 3>, /* CH18 */
				     <315 3>, /* CH19 */
				     <316 3>, /* CH20 */
				     <317 3>, /* CH21 */
				     <318 3>, /* CH22 */
				     <319 3>, /* CH23 */
				     <320 3>, /* CH24 */
				     <321 3>, /* CH25 */
				     <322 3>, /* CH26 */
				     <323 3>, /* CH27 */
				     <324 3>, /* CH28 */
				     <325 3>, /* CH29 */
				     <326 3>, /* CH30 */
				     <327 3>, /* CH31 */
				     <328 3>, /* CH32 */
				     <329 3>, /* CH33 */
				     <330 3>, /* CH34 */
				     <331 3>, /* CH35 */
				     <332 3>, /* CH36 */
				     <333 3>, /* CH37 */
				     <334 3>, /* CH38 */
				     <335 3>, /* CH39 */
				     <336 3>, /* CH40 */
				     <337 3>, /* CH41 */
				     <338 3>, /* CH42 */
				     <339 3>, /* CH43 */
				     <340 3>, /* CH44 */
				     <341 3>, /* CH45 */
				     <342 3>, /* CH46 */
				     <343 3>, /* CH47 */
				     <344 3>, /* CH48 */
				     <345 3>, /* CH49 */
				     <346 3>, /* CH50 */
				     <347 3>, /* CH51 */
				     <348 3>, /* CH52 */
				     <349 3>, /* CH53 */
				     <350 3>, /* CH54 */
				     <351 3>, /* CH55 */
				     <352 3>, /* CH56 */
				     <353 3>, /* CH57 */
				     <354 3>, /* CH58 */
				     <355 3>, /* CH59 */
				     <356 3>, /* CH60 */
				     <357 3>, /* CH61 */
				     <358 3>, /* CH62 */
				     <359 3>, /* CH63 */
				     <360 3>, /* CH64 */
				     <361 3>, /* CH65 */
				     <362 3>, /* CH66 */
				     <363 3>, /* CH67 */
				     <364 3>, /* CH68 */
				     <365 3>, /* CH69 */
				     <366 3>, /* CH70 */
				     <367 3>, /* CH71 */
				     <368 3>, /* CH72 */
				     <369 3>, /* CH73 */
				     <370 3>, /* CH74 */
				     <371 3>; /* CH75 */
			status = "disabled";
		};

		dma1: dw@40290000 {
			#dma-cells = <1>;
			compatible = "infineon,dma";
			reg = <0x40290000 0x10000>;
			dma-channels = <84>;
			interrupt-parent = <&intmux_ch4>;
			interrupts = <424 3>, /* CH0 */
				     <425 3>, /* CH1 */
				     <426 3>, /* CH2 */
				     <427 3>, /* CH3 */
				     <428 3>, /* CH4 */
				     <429 3>, /* CH5 */
				     <430 3>, /* CH6 */
				     <431 3>, /* CH7 */
				     <432 3>, /* CH8 */
				     <433 3>, /* CH9 */
				     <434 3>, /* CH10 */
				     <435 3>, /* CH11 */
				     <436 3>, /* CH12 */
				     <437 3>, /* CH13 */
				     <438 3>, /* CH14 */
				     <439 3>, /* CH15 */
				     <440 3>, /* CH16 */
				     <441 3>, /* CH17 */
				     <442 3>, /* CH18 */
				     <443 3>, /* CH19 */
				     <444 3>, /* CH20 */
				     <445 3>, /* CH21 */
				     <446 3>, /* CH22 */
				     <447 3>, /* CH23 */
				     <448 3>, /* CH24 */
				     <449 3>, /* CH25 */
				     <450 3>, /* CH26 */
				     <451 3>, /* CH27 */
				     <452 3>, /* CH28 */
				     <453 3>, /* CH29 */
				     <454 3>, /* CH30 */
				     <455 3>, /* CH31 */
				     <456 3>, /* CH32 */
				     <457 3>, /* CH33 */
				     <458 3>, /* CH34 */
				     <459 3>, /* CH35 */
				     <460 3>, /* CH36 */
				     <461 3>, /* CH37 */
				     <462 3>, /* CH38 */
				     <463 3>, /* CH39 */
				     <464 3>, /* CH40 */
				     <465 3>, /* CH41 */
				     <466 3>, /* CH42 */
				     <467 3>, /* CH43 */
				     <468 3>, /* CH44 */
				     <469 3>, /* CH45 */
				     <470 3>, /* CH46 */
				     <471 3>, /* CH47 */
				     <472 3>, /* CH48 */
				     <473 3>, /* CH49 */
				     <474 3>, /* CH50 */
				     <475 3>, /* CH51 */
				     <476 3>, /* CH52 */
				     <477 3>, /* CH53 */
				     <478 3>, /* CH54 */
				     <479 3>, /* CH55 */
				     <480 3>, /* CH56 */
				     <481 3>, /* CH57 */
				     <482 3>, /* CH58 */
				     <483 3>, /* CH59 */
				     <484 3>, /* CH60 */
				     <485 3>, /* CH61 */
				     <486 3>, /* CH62 */
				     <487 3>, /* CH63 */
				     <488 3>, /* CH64 */
				     <489 3>, /* CH65 */
				     <490 3>, /* CH66 */
				     <491 3>, /* CH67 */
				     <492 3>, /* CH68 */
				     <493 3>, /* CH69 */
				     <494 3>, /* CH70 */
				     <495 3>, /* CH71 */
				     <496 3>, /* CH72 */
				     <497 3>, /* CH73 */
				     <498 3>, /* CH74 */
				     <499 3>, /* CH75 */
				     <500 3>, /* CH76 */
				     <501 3>, /* CH77 */
				     <502 3>, /* CH78 */
				     <503 3>, /* CH79 */
				     <504 3>, /* CH80 */
				     <505 3>, /* CH81 */
				     <506 3>, /* CH82 */
				     <507 3>; /* CH83 */
			status = "disabled";
		};
	};
};
