/*
* Copyright (c) 2026 Linumiz
* Copyright (c) 2026 Infineon Technologies AG
* SPDX-License-Identifier: Apache-2.0
*/

#include <arm/infineon/cat1a/cyt2b7/cyt2b7.dtsi>
#include <arm/infineon/cat1a/cyt2b7/system_clocks.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/pinctrl/ifx_cat1-pinctrl.h>
#include <common/freq.h>
#include "cytvii_b_e_1m_100_cpu_pinctrl.dtsi"

/ {
	leds {
		compatible = "gpio-leds";

		cpu_user_led0: led0 {
			label = "LED_0";
			gpios = <&gpio_prt8 2 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led0: led1 {
			label = "LED_1";
			gpios = <&gpio_prt19 3 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led1: led2 {
			label = "LED_2";
			gpios = <&gpio_prt23 3 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led2: led3 {
			label = "LED_3";
			gpios = <&gpio_prt19 1 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led3: led4 {
			label = "LED_4";
			gpios = <&gpio_prt19 0 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led4: led5 {
			label = "LED_5";
			gpios = <&gpio_prt17 2 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led5: led6 {
			label = "LED_6";
			gpios = <&gpio_prt14 3 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led6: led7 {
			label = "LED_7";
			gpios = <&gpio_prt13 2 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led7: led8 {
			label = "LED_8";
			gpios = <&gpio_prt13 3 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led8: led9 {
			label = "LED_9";
			gpios = <&gpio_prt13 4 GPIO_ACTIVE_HIGH>;
		};

		bb_user_led9: led10 {
			label = "LED_10";
			gpios = <&gpio_prt13 5 GPIO_ACTIVE_HIGH>;
		};

	};

	gpio_keys {
		compatible = "gpio-keys";

		cpu_user_bt0: cpu_user_btn0 {
			label = "SW_0";
			gpios = <&gpio_prt6 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		bb_user_bt1: bb_user_btn1 {
			label = "SW_1";
			gpios = <&gpio_prt13 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};

		bb_user_bt2: bb_user_btn2 {
			label = "SW_2";
			gpios = <&gpio_prt13 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_2>;
		};

		bb_user_bt3: bb_user_btn3 {
			label = "SW_3";
			gpios = <&gpio_prt14 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_3>;
		};

		bb_user_bt4: bb_user_btn4 {
			label = "SW_4";
			gpios = <&gpio_prt12 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_4>;
		};

		bb_user_bt5: bb_user_btn5 {
			label = "SW_5";
			gpios = <&gpio_prt19 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_5>;
		};

	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;

		sram_m0p: memory@8000800 {
			compatible = "mmio-sram";
			reg = <0x08000800 DT_SIZE_K(32)>;
		};

		sram_m4: memory@8008800 {
			compatible = "mmio-sram";
			reg = <0x08008800 DT_SIZE_K(94)>;
		};
	};

};

&code_flash0 {
	partitions {
		ranges;
		#address-cells = <1>;
		#size-cells = <1>;

		m0p_partition: partition_m0p@0 {
			compatible = "zephyr,mapped-partition";
			label = "m0p_partition";
			reg = <0x0 DT_SIZE_K(128)>;
		};

		m4_partition: partition@20000 {
			compatible = "zephyr,mapped-partition";
			label = "m4_partition";
			reg = <0x20000 DT_SIZE_K(832)>;
		};
	};
};

spi1: &scb1 {
	#address-cells = <1>;
	#size-cells = <0>;
	compatible = "infineon,spi";
	clocks = <&clk_peri0 21 1 3>;

	/* SPI pins */
	pinctrl-0 = <&p18_0_scb1_spi_miso &p18_1_scb1_spi_mosi &p18_2_scb1_spi_scl>;
	pinctrl-names = "default";
	cs-gpios = <&gpio_prt18 4 GPIO_ACTIVE_LOW>;
};

uart3: &scb3 {
	compatible = "infineon,uart";
	current-speed = <115200>;
	dmas = <&dma1 14>, <&dma1 15>;
	dma-names = "tx", "rx";
	clocks = <&clk_peri0 23 0 0>;

	/* UART pins */
	pinctrl-0 = <&p13_1_scb3_uart_tx &p13_0_scb3_uart_rx>;
	pinctrl-names = "default";
};

&dma1 {
	status = "okay";
};

&intmux_ch0 {
	status = "okay";
};

&intmux_ch1 {
	status = "okay";
};

&intmux_ch2 {
	status = "okay";
};

&intmux_ch3 {
	status = "okay";
};

&intmux_ch4 {
	status = "okay";
};

&intmux_ch5 {
	status = "okay";
};

&intmux_ch6 {
	status = "okay";
};

&intmux_ch7 {
	status = "okay";
};

&eco {
	status = "okay";
};

&pll0 {
	status = "okay";
};

&clk_hf0 {
	status = "okay";
};

&clk_hf1 {
	status = "okay";
};

&clk_hf2 {
	status = "okay";
};

&clk_peri0 {
	status = "okay";
};

&gpio_prt13 {
	status = "okay";
};
