# Copyright (c) 2026 Linumiz
# Copyright (c) 2026 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config BOARD_KIT_T2G_B_E_LITE
	select SOC_CYT2BL5CAE
	select SOC_CYT2BX_CORE_M0PLUS if BOARD_KIT_T2G_B_E_LITE_CYT2BL5CAE_M0P
	select SOC_CYT2BX_CORE_M4 if BOARD_KIT_T2G_B_E_LITE_CYT2BL5CAE_M4
